/************************************************************** Erreur 404 ***************************************************************/
html { background:#000000; color:#CACACA; }

textarea.texte404 { background: #000000; border: 0px solid #000000; color: #CACACA; text-align: center; overflow: auto; resize: none; }

       td.img404 { width: 300px; }
img.img404gauche { margin-right: 10px; }
img.img404droite { margin-left: 10px;  }

    a.header_logo { visibility:hidden !important; }
  div.header_logo { background:#000000 !important; }
  div.header_menu { background:#333333 !important; }
div.header_bottom { background:#000000 !important; }
 span.menu_secret { color:#333333 !important; }