/************************************** 404 ERROR PAGE HEADER MENU ALTERATIONS ***************************************/

.header_topbar                  { background-color: #B00B1E;                            }
.header_topmenu                 { background-color: #B00B1E;                            }
.header_topmenu_title           { background-color: #B00B1E; color: #000000;            }
.header_topmenu_title:hover     { background-color: #000000; color: #B00B1E;            }
.header_topmenu_title_selected  { color: #B00B1E; background-color: #000000;            }
.header_infobar                 { background-color: #000000;                            }
.header_infobar:hover           { background-color: #000000;                            }
.header_submenu                 { background-color: #000000;                            }
.header_submenu_title           { color: #CACACA;                                       }
.header_submenu_link            { color: #B00B1E;                                       }
.header_submenu_link:hover      { color: #B00B1E; filter: drop-shadow(0 0 5px #B00B1E); }