/**************************************************** ADMIN MAIL ****************************************************/
.admin_mail_border      { border: 2px solid #FF0000;                                    }
.admin_mail_container   { height: 50rem; padding: 3px; box-shadow: 0 0 15px #FF0000     ;
                          border-radius: 10px;                                          }
.admin_mail_left_panel  { margin-right: 3px; padding: 5px; box-shadow: 0 0 10px #FF0000 ;
                          border-top-left-radius: 8px; border-bottom-left-radius: 8px   ;
                          overflow-y: auto; overflow-x: hidden; flex: 7;                }
.admin_mail_right_panel { overflow-y: scroll; box-shadow: 0 0 10px #FF0000              ;
                          border-bottom: 2px solid #FF0000; border-top-right-radius: 8px;
                          border-bottom-right-radius: 8px; flex: 3;                     }
.admin_mail_search      { padding: 5px;                                                 }
.admin_mail_right_entry { padding-left: 4px; padding-right: 4px; padding-top: 2px       ;
                          padding-bottom: 2px; text-align: center;                      }
.admin_mail_icon        { height: 2.0rem; padding-bottom: 2px;                          }

@media (max-width: 1080px) {
.admin_mail_left_panel    { flex: 5;              }
.admin_mail_right_panel   { flex: 3;              }
.admin_mail_search_label  { font-size: 0.6rem;    }
.admin_mail_icon          { height: 1.4rem;     } }