/************************************************** COMPENDIUM PAGE **************************************************/
.compendium_warning_icon { vertical-align: middle; height: 100%; padding-left: 1.0rem; padding-right: 1.0rem; }
.compendium_warning_text { flex: 6; vertical-align: middle; height: 100%; }

/************************************************* COMPENDIUM IMAGE **************************************************/
.compendium_image_blur        { filter: blur(25px); }
.compendium_image_blur:hover  { filter: none;       }

/********************************************* COMPENDIUM ADMINISTRATION *********************************************/
.compendium_admin_editor { min-height: 35.0rem; }

.compendium_admin_search_small  { width: 7.0rem;  }
.compendium_admin_search_big    { width: 10.0rem; }

@media (min-width: 1081px) {
.compendium_admin_menu { margin-top: -40px; } }
@media (max-width: 1080px) {
.compendium_admin_menu { margin-top: -75px; } }