/************************************************** CV & PORTFOLIO ***************************************************/
hr { border: 0; border-bottom: 1px dashed #CCCCCC; background: #888888; }
h5 { font-size: 1.4em;    }