/************************************************************ RÉFÉRENCES DEV *************************************************************/
.border_all_blank   { border: 0px !important;                                            }
.border_right_blank { border: 0px !important; border-right:5px solid #FFFFFF !important; }

/****************************************************** QUERIES ******************************************************/
.dev_queries_block { margin-top: 15em; margin-bottom: 15em; }