/*************************************************************** blog.php ****************************************************************/
td.devblog_midwidth { width: 45%;   }
input.raisondelete  { width: 350px; }
input.raisonedit    { width: 480px; }

/**************************************************************** add.php ****************************************************************/
td.add_titres     { width: 70px; }
td.add_calendrier { width: 80px; }