/************************************************************* DOCUMENTATION *************************************************************/
.doc_minipadding     { padding: 2px;                     }
.doc_minipadding_bot { padding-bottom: 2px;              }
.doc_minibordure     { border: 1px solid #CACACA;        }
.doc_minibordure_bot { border-bottom: 1px solid #CACACA; }

/******************************************************* PRÉVISUALISER DES BBCODES *******************************************************/
div.bbcodes_cadre             { border: 1px solid #CACACA; padding: 10px;                         }
textarea.bbcodes_message      { height: 200px;                                                    }
div.bbcodes_previsualisation  { max-height: 350px; border: 1px solid #CACACA; padding-top: 10px;  }