/*************************************************** DOCUMENTATION ***************************************************/
.doc_minipadding     { padding: 2px;                     }
.doc_minipadding_bot { padding-bottom: 2px;              }
.doc_miniborder      { border: 1px solid #CACACA;        }
.doc_miniborder_bot  { border-bottom: 1px solid #CACACA; }

/************************************************** BBCODE SANDBOX ***************************************************/
div.bbcodes_frame         { border: 1px solid #CACACA; padding: 10px;                         }
textarea.bbcodes_message  { height: 200px;                                                    }
div.bbcodes_preview       { max-height: 350px; border: 1px solid #CACACA; padding-top: 10px;  }