/*************************************************** FORUM THREAD ****************************************************/
table.forum_thread_header          { border: 2px solid #37536B;                                                      }
tr.forum_thread_header             { border-top: 3px solid #37536B;                                                  }
td.forum_thread_header_left { width: 15em; border-right: 2px solid #37536B; padding-left: 10px; padding-right: 10px; }
select.forum_thread_header_pages   { margin-bottom:10px;                                                             }
a.forum_thread_header_recent       { font-size:0.85em;                                                               }
td.forum_thread_header_title       { padding: 10px;                                                                  }
span.forum_thread_header_title     { font-size: 1.35em;                                                              }
img.forum_thread_header_lang       { margin-bottom: 7px; padding-left: 5px;                                          }
td.forum_thread_header_description { border-top: 2px solid #37536B; padding: 10px;                                   }
img.forum_thread_header_actions    { margin-top:10px;                                                                }

table.forum_thread_message       { border: 2px solid #CACACA;                                                        }
tr.forum_thread_message          { border-top: 3px solid #78A1BC;                                                    }
td.forum_thread_message_gauche   { width: 15em; border-right: 2px solid #CACACA; border-bottom: none                 ;
                                   padding-bottom: 0px; padding-left: 10px; padding-right: 10px; margin-bottom: 0px; }
.forum_thread_message_info       { font-size:0.75em;                                                                 }
img.forum_thread_message_actions { margin-top:4px;                                                                   }
td.forum_thread_message_body     { text-align: justify; padding: 10px;                                               }
td.forum_thread_message_actions  { border-top: 2px solid #CACACA; padding-top: 7px; padding-bottom: 7px              ;
                                   padding-left: 15px;                                                               }

textarea.forum_reply_body { height: 200px;                                               }
div.forum_reply_preview   { border: 1px solid #CACACA; padding: 10px; max-height: 300px; }

td.forum_edit_body { padding: 12px; }

/**************************************************** NEW THREAD *****************************************************/
.forum_new_thread_option      { margin-bottom: 5px;                                          }
span.forum_new_thread_tooltip { font-size: 0.95em !important; padding: 12px 20px !important; }
label.forum_new_thread_label  { margin-top: 5px;                                             }

div.forum_new_thread_frame        { border: 1px solid #CACACA; padding: 10px;        }
div.forum_new_thread_valignhack_1 { display: table; height: 400px; overflow: hidden; }
div.forum_new_thread_valignhack_2 { display: table-cell; vertical-align: middle;     }
.forum_new_thread_example         { font-size: 0.75em;                               }

textarea.forum_new_thread_body  { height: 250px;                                               }
div.forum_new_thread_preview    { border: 1px solid #CACACA; padding: 10px; max-height: 300px; }

/**************************************************** THREAD LIST ****************************************************/
img.forum_actions_first { margin-left: 4px;    }
img.forum_actions       { margin-bottom: -2px; }