/***************************************************** TOP MENU ******************************************************/
.header_topbar                 { background-color: #B00B1E;                                                     }
.header_topmenu_zone           { display: flex; align-items: center;                                            }
.header_topmenu                { background-color: #B00B1E; justify-content: space-between                      ;
                                 display: flex; font-family: 'NoBleme-header';                                  }
.header_topmenu_title          { font-weight: bold; color: #121212; cursor: pointer; background-color: #B00B1E; }
.header_topmenu_title:hover    { color: #B00B1E; background-color: #121212;                                     }
.header_topmenu_title_selected { color: #B00B1E; background-color: #121212;                                     }
.header_topmenu_icon           { cursor: pointer; vertical-align: middle;                                       }
.header_infobar                { background-color: #B00B1E; border-bottom: 3px solid #121212;                   }
.header_infobar_link           { color: #CACACA; font-size: 2.0em; font-weight: bold; padding-left: 0.2em;      }
.header_infobar_link:hover     { color: #121212;                                                                }

@media (min-width: 1081px) {
.header_topmenu_zone    { margin-left: -2.0rem; margin-right: -1.0rem;              }
.header_topmenu_title   { padding: 0.6rem 2.0rem 0.6rem 2.0rem; font-size: 2.8rem;  }
.header_topmenu_account { height: 3.2rem; margin: 0.3em 0.8em 0 0;                  }
.header_topmenu_mail    { height: 3.6rem; margin: 0.2em 0.8em 0 0;                  }
.header_topmenu_panel   { height: 3.2rem; margin: 0.1em 0.8em 0 -0.2em;             }
.header_topmenu_flag    { height: 2.6rem; margin: 0 0.8em 0 0;                    } }
@media(max-width: 1800px) {
.header_topmenu_zone    { margin-left: 0rem; margin-right: 0rem;                  } }
@media (max-width: 1080px) {
.header_topmenu_title   { padding: 0.6rem 1.2rem 0.6rem 1.2rem; font-size: 2.2rem; }
.header_topmenu_account { height: 2.6rem; margin: 0.2em 0.8em 0 0;                 }
.header_topmenu_mail    { height: 2.8rem; margin: 0.1em 0.6em 0 0;                 }
.header_topmenu_panel   { height: 2.6rem; margin: 0 1.0em 0 0em;                   }
.header_topmenu_flag    { height: 2.4rem; margin: 0 0.8em 0.15em 0;              } }
@media (max-width: 960px) {
.header_topmenu_title   { padding: 0.6rem 1.2rem 0.6rem 1.2rem; font-size: 2.1rem; }
.header_topmenu_account { height: 2.1rem; margin: 0.2em 0.8em 0 0;                 }
.header_topmenu_mail    { height: 2.3rem; margin: 0.1em 0.6em 0 0;                 }
.header_topmenu_panel   { height: 2.1rem; margin: 0 1.0em 0 0em;                   }
.header_topmenu_flag    { height: 1.9rem; margin: 0 0.8em 0.15em 0;              } }
@media (max-width: 828px) {
.header_topmenu_title   { padding: 0.6rem 1.0rem 0.6rem 1.0rem; font-size: 1.7rem; }
.header_topmenu_account { height: 1.8rem; margin: 0.2em 0.8em 0 0;                 }
.header_topmenu_mail    { height: 1.9rem; margin: 0.1em 0.6em 0 0;                 }
.header_topmenu_panel   { height: 1.8rem; margin: 0 1.0em 0 0em;                   }
.header_topmenu_flag    { height: 1.7rem; margin: 0 0.8em 0.15em 0;              } }
@media (max-width: 760px) {
.header_topmenu_title   { padding: 0.6rem 1.0rem 0.6rem 1.0rem; font-size: 1.7rem; }
.header_topmenu_account { height: 1.6rem; margin: 0.2em 0.8em 0 0;                 }
.header_topmenu_mail    { height: 1.7rem; margin: 0.1em 0.6em 0 0;                 }
.header_topmenu_panel   { height: 1.6rem; margin: 0 1.0em 0 0em;                   }
.header_topmenu_flag    { height: 1.5rem; margin: 0 0.8em 0.15em 0;              } }

/****************************************************** SUBMENU ******************************************************/
.header_submenu              { display: none; white-space: nowrap; background-color: #121212    ;
                               color: #B00B1E;   font-family: 'NoBleme-submenu'                 }
.header_submenu_column       { padding: 0.8em;                                                  }
.header_submenu_fullwidth    { grid-column: 1 / span 5;                                         }
.header_submenu_title        { margin-bottom: 0.5em; padding-bottom: 0.5em; padding-top: 0.5em  ;
                               color: #CACACA; font-weight: bold; font-family: 'NoBleme-header' ;
                               text-transform: uppercase;                                       }
.header_submenu_item         { padding-bottom: 0.5em;                                           }
.header_submenu_link         { color: #B00B1E; filter: none; font-weight: bold;                 }
.header_submenu_link:hover   { filter: drop-shadow(0 0 5px #B00B1E);                            }
.header_submenu_button       { margin: 0 1.2em 3.0em 1.2em; background-color: #B00B1E           ;
                               filter: drop-shadow(0 0 10px #B00B1E); border-color: #B00B1E;    }
.header_submenu_button:hover:not([disabled]):not(:focus) { background-color: #B00B1E            ;
                               filter: drop-shadow(0 0 15px #B00B1E); border-color: #B00B1E;    }
.header_submenu_button:focus { background-color: #B00B1E                                        ;
                               filter: drop-shadow(0 0 5px #B00B1E); border-color: #B00B1E;     }
.header_submenu_blink        { animation-name: blink-glow; animation-iteration-count: infinite  ;
                               animation-duration: 1337ms;                                      }
@keyframes blink-glow        { 0% { filter: none; } 50% { filter: drop-shadow(0 0 5px #B00B1E); }
                               100%  { filter: none; }                                          }
.header_submenu_remember_me  { margin-top: 6px;                                                 }

@media(min-width: 1081px) {
.header_submenu           { font-size: 2.2rem; grid-auto-flow: column; padding-bottom: 4.0rem;                    }
.header_submenu_6         { grid-template-columns: repeat(6, 16.6%); padding-left: 1.0rem; padding-right: 1.0rem; }
.header_submenu_5         { grid-template-columns: repeat(5, 20%); padding-left: 15.0rem; padding-right: 5.0rem; }
.header_submenu_title     { font-size: 2.5rem;                                                                  } }
@media(max-width: 1800px) {
.header_submenu           { font-size: 2.0rem;                           }
.header_submenu_5         { padding-left: 7.5rem; padding-right: 2.5rem; }
.header_submenu_title     { font-size: 2.2rem;                         } }
@media(max-width: 1600px) {
.header_submenu           { font-size: 1.8rem;                           }
.header_submenu_5         { padding-left: 4.0rem; padding-right: 2.0rem; }
.header_submenu_title     { font-size: 2.0rem;                         } }
@media(max-width: 1400px) {
.header_submenu           { font-size: 1.6rem;                           }
.header_submenu_5         { padding-left: 2.5rem; padding-right: 0.5rem; }
.header_submenu_title     { font-size: 1.8rem;                         } }
@media(max-width: 1200px) {
.header_submenu           { font-size: 1.4rem;                           }
.header_submenu_5         { padding-left: 2.0rem; padding-right: 0rem;   }
.header_submenu_title     { font-size: 1.6rem;                         } }
@media(max-width: 1080px) {
.header_submenu           { font-size: 2.0rem; grid-auto-flow: row       ;
                            grid-template-columns: repeat(2)             }
.header_submenu_5         { padding-left: 0rem; padding-right: 0rem;     }
.header_submenu_6         { padding-left: 0rem; padding-right: 0rem;     }
.header_submenu_title     { font-size: 2.0rem;                         } }

/**************************************************** LOGIN FORM *****************************************************/
.login_form_text { color: #CACACA; }

/************************************************** MAIN PAGE BODY ***************************************************/
@media (min-width: 1081px) { .header_main_page { margin-top: 80px; padding-left: 25px; padding-right: 25px;  }
                             hr                { margin-left: -25px; margin-right: -25px;                  } }
@media (max-width: 1080px) { .header_main_page { margin-top: 150px; padding-left: 40px; padding-right: 40px; }
                             hr                { margin-left: -40px; margin-right: -40px;                  } }

/****************************************************** FOOTER *******************************************************/
footer { width: 100%; text-align: center; color: #999999; filter: drop-shadow(0 0 15px #B00B1E);     }
@media (min-width: 1081px) { footer { font-size: 1.4rem; margin-top: 100px; margin-bottom: 50px;   } }
@media (max-width: 1080px) { footer { font-size: 0.83rem; margin-top: 200px; margin-bottom: 100px; } }