/************************************************** LOGO HEARTBEAT ***************************************************/
.nobleme_logo:hover           { animation-name: nobleme-logo-blink              ;
                                animation-iteration-count: infinite             ;
                                animation-duration: 4500ms;                     }
@keyframes nobleme-logo-blink { 0%   { filter: drop-shadow(0 0 10px #B00B1E);   }
                                10%  { filter: drop-shadow(0 0 10px #B00B1E);   }
                                40%  { filter: none;                            }
                                60%  { filter: none;                            }
                                90%  { filter: drop-shadow(0 0 10px #B00B1E);   }
                                100% { filter: drop-shadow(0 0 10px #B00B1E); } }

/**************************************************** ERROR PAGE *****************************************************/
div.error_container       { margin-top: 150px; margin-bottom: 150px; }
h3.small_error_gap        { margin-bottom: 50px;                     }
h3.big_error_gap          { margin-bottom: 100px;                    }