/********************************************************* PRÉVISUALISER DES IRL *********************************************************/
textarea.irl_details     { height: 150px;                                                    }
div.irl_previsualisation { max-height: 150px; border: 1px solid #CACACA; padding-top: 10px;  }

/*********************************************************** MODIFIER UNE IRL ************************************************************/
img.irl_ajouter_personne { margin-bottom: 10px; }