/**************************************************** VARIABLES ******************************************************/

:root { --nobleme-light-link:   #37536A  ;
        --nobleme-light-link2:  #78A1BC; }

/************************************************* GENERIC ELEMENTS **************************************************/

body                    { background-color: var(--nobleme-white); color: var(--nobleme-dark); }
h1, h2, h3, h4, h5, h6  { color: var(--nobleme-dark);                                         }
hr                      { background-color: var(--nobleme-white2);                            }

/*************************************************** TEXT STYLING ****************************************************/

.blur                 { text-shadow: 0 0 10px var(--nobleme-dark);  }
.blur:hover           { color: var(--nobleme-dark);                 }
.glow_dark            { filter: none;                               }
.bigglow_dark         { filter: none;                               }
.hugeglow_dark        { filter: none;                               }
.glowhover_dark:hover { filter: none;                               }

/**************************************************** PAGE LAYOUT ****************************************************/

.floater { border-color: var(--nobleme-light); }

/******************************************************* LINKS *******************************************************/

a                                         { color: var(--nobleme-light-link); text-decoration: none; filter: none;  }
a:focus, a:hover                          { color: var(--nobleme-light-link2);                                      }
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a { color: var(--nobleme-dark);                                        }
a.forced_link                             { color: var(--nobleme-light-link); text-decoration: none; filter: none;  }
a.forced_link:focus, a.forced_link:hover  { color: var(--nobleme-light-link2); text-decoration: none; filter: none; }

/************************************************** TEXT CONTAINERS **************************************************/

pre, code, blockquote   { background-color: var(--nobleme-white2); border-color: var(--nobleme-light); }
blockquote.nobackground { background-color: var(--nobleme-white);                                      }

/******************************************************* FORMS *******************************************************/

button, input, select             { color: var(--nobleme-dark); background-color: var(--nobleme-white2)               ;
                                    border-color: var(--nobleme-light);                                               }
textarea                          { background-color: var(--nobleme-white2); color: var(--nobleme-dark);              }
input[disabled], button[disabled] { background-color: var(--nobleme-white2);                                          }
select:hover, input[type='text']:hover:not([disabled]):not(:focus)                                                    ,
input[type='password']:hover:not([disabled]):not(:focus), input[type='reset']:hover:not([disabled]):not(:focus)       ,
input[type='submit']:hover:not([disabled]):not(:focus), button:hover:not([disabled]):not(:focus)
                                  { border-color: var(--nobleme-dark); background-color: var(--nobleme-white2);       }
input[type='text']:focus, input[type='password']:focus, input[type='reset']:focus, input[type='submit']:focus         ,
button:focus, select:focus        { border-color: var(--nobleme-white2); background-color: var(--nobleme-white2);     }
input[type='file']                { background-color: var(--nobleme-white); border: none; color: var(--nobleme-dark); }
input:not([type])                 { background-color: var(--nobleme-white2);                                          }

/*********************************************** CUSTOM FORM ELEMENTS ************************************************/

select.table_search, input.table_search { background-color: var(--nobleme-white2);                          }
select.table_search:hover, input.table_search:hover, input.table_search[type='text']:hover:not([disabled]):not(:focus)
                                        { background-color: var(--nobleme-white);                           }
select.intext, input.intext             { background-color: var(--nobleme-white)                            ;
                                          border-color: var(--nobleme-white2); color: var(--nobleme-dark);  }
select.intext:hover, input.intext:hover, input.intext[type='text']:hover:not([disabled]):not(:focus)        ,
input.intext:focus, select.intext:focus { border-color: var(--nobleme-light)                                ;
                                          background-color: var(--nobleme-white);                           }
select.inh, input.inh                   { background-color: var(--nobleme-white)                            ;
                                          border-color: var(--nobleme-white2); color: var(--nobleme-dark);  }
select.inh:hover, input.inh:hover, input.inh[type='text']:hover:not([disabled]):not(:focus)                 ,
input.inh:focus, select.inh:focus       { border-color: var(--nobleme-light)                                ;
                                          background-color: var(--nobleme-white);                           }

/****************************************************** TABLES *******************************************************/

table             { background-color: var(--nobleme-white);   }
tbody > tr        { border-color: var(--nobleme-white2);      }
tbody > tr:hover  { background-color: var(--nobleme-white2);  }

/*********************************************** CUSTOM TABLE ELEMENTS ***********************************************/

tbody.altc tr:nth-child(odd)                                                { background-color: var(--nobleme-white2);}
tbody.altc tr:nth-child(odd):hover                                          { background-color: var(--nobleme-light); }
tbody.altc2 tr:nth-child(even)                                              { background-color: var(--nobleme-white2);}
tbody.altc2 tr:nth-child(even):hover                                        { background-color: var(--nobleme-light); }
tbody.doublealtc tr:nth-child(4n-2), tbody.doublealtc tr:nth-child(4n-3)    { background-color: var(--nobleme-white2);}
tbody.doublealtc tr:nth-child(4n-3):hover                                   { background-color: var(--nobleme-light); }
tbody.doublealtc tr:nth-child(4n):hover                                     { background-color: var(--nobleme-light); }
tbody.doublealtc2 tr:nth-child(4n-1), tbody.doublealtc2 tr:nth-child(4n-2)  { background-color: var(--nobleme-white2);}
tbody.doublealtc2 tr:nth-child(4n-2):hover                                  { background-color: var(--nobleme-light); }
tbody.doublealtc2 tr:nth-child(4n-3):hover                                  { background-color: var(--nobleme-light); }
td.cellaltc                                                                 { background-color: var(--nobleme-white2);}
td.cellnoaltc                                                               { background-color: var(--nobleme-light); }
tr.row_separator_dark                                                       { border-color: var(--nobleme-light);     }
tr.row_separator_dark_thin                                                  { border-color: var(--nobleme-light);     }
@media (max-width: 992px)                                                                                             {
tr.row_separator_dark                                                       { border-color: var(--nobleme-light);     }
tr.row_separator_dark_thin                                                  { border-color: var(--nobleme-light);   } }

/***************************************************** TOOLTIPS ******************************************************/

.tooltip_container:hover .tooltip { color: var(--nobleme-dark); background-color: var(--nobleme-white)  ;
                                    border-color: var(--nobleme-light)                                  ;
                                    box-shadow: 2px 2px 2px var(--nobleme-light);                       }
@media (max-width: 992px)                                                                               {
.tooltip_container:hover .tooltip { border-color: var(--nobleme-light)                                  ;
                                    box-shadow: 5px 5px 5px var(--nobleme-light);                     } }

/****************************************************** POPINS *******************************************************/

div.popin_body      { background: var(--nobleme-white);                  }
a.popin_close       { color: var(--nobleme-dark);                        }
a.popin_close:hover { filter: drop-shadow(0 0 10px var(--nobleme-dark)); }

/************************************************** DEVELOPER TOOLS **************************************************/

div.debug_query { border: 1px solid var(--nobleme-light); }

/****************************************************** BBCODES ******************************************************/

.bbcode_quote_title   { border-color: var(--nobleme-dark);                                          }
.bbcode_quote_body    { background-color: var(--nobleme-white2); border-color: var(--nobleme-dark); }
.bbcode_spoiler_title { border-color: var(--nobleme-dark);                                          }
.bbcode_spoiler_body  { background-color: var(--nobleme-white2); border-color: var(--nobleme-dark); }

/****************************************************** NBCODES ******************************************************/

.nbcode_dead_link       { color: var(--nobleme-red);          }
.nbcode_dead_link:hover { color: var(--nobleme-red);          }
.nbcode_floater         { border-color: var(--nobleme-light); }
.nbcode_gallery_cell    { border-color: var(--nobleme-light); }
.nbcode_gallery_hr      { background: var(--nobleme-light);   }

/************************************************* NBCODES ON MOBILE *************************************************/

@media (max-width: 992px)                                     {
.nbcode_floater       { border-color: var(--nobleme-light);   }
.nbcode_gallery_cell  { border-color: var(--nobleme-light); } }

/***************************************************** TOP MENU ******************************************************/

.header_topbar                 { background-color: var(--nobleme-white2);                                     }
.header_topmenu                { background-color: var(--nobleme-white2);                                     }
.header_topmenu_title          { color: var(--nobleme-dark); background-color: var(--nobleme-white2);         }
.header_topmenu_title:hover    { color: var(--nobleme-white2); background-color: var(--nobleme-dark);         }
.header_topmenu_title_selected { color: var(--nobleme-white2); background-color: var(--nobleme-dark);         }
.header_infobar                { background-color: var(--nobleme-white2); border-color: var(--nobleme-dark);  }
.header_infobar_link           { color: var(--nobleme-light-link);                                            }
.header_infobar_link:hover     { color: var(--nobleme-light-link2);                                           }

/***************************************** TOP MENU HIDDEN DROPDOWN SECTION ******************************************/

.header_submenu             { background-color: var(--nobleme-white); color: var(--nobleme-light-link); }
.header_submenu_title       { color: var(--nobleme-dark);                                               }
.header_submenu_link        { color: var(--nobleme-light-link);                                         }
.header_submenu_link:hover  { filter: none; color: var(--nobleme-light-link2);                          }
.login_form_text            { color: var(--nobleme-dark);                                               }

/****************************************************** FOOTER *******************************************************/

footer { color: var(--nobleme-footer); filter: none; }

/********************************************** ADMIN.CSS - ADMIN MAIL ***********************************************/

.admin_mail_border      { border-color: var(--nobleme-light);                                             }
.admin_mail_container   { box-shadow: 0 0 15px var(--nobleme-light);                                      }
.admin_mail_left_panel  { box-shadow: 0 0 10px var(--nobleme-light);                                      }
.admin_mail_right_panel { box-shadow: 0 0 10px var(--nobleme-light); border-color: var(--nobleme-light);  }

/******************************************** API.CSS - API DOCUMENTATION ********************************************/

hr.api_doc_parameters { background: var(--nobleme-light); }

/********************************************** DEV.CSS - DOCUMENTATION **********************************************/

div.dev_div_border  { border-color: var(--nobleme-dark);  }
div.dev_div_spacing { border-color: var(--nobleme-dark);  }

/******************************************** INDEX.CSS - LOGO HEARTBEAT *********************************************/

.nobleme_logo       { filter: none; animation: none !important; }
.nobleme_logo:hover { animation: none !important;               }