/***************************************************** NBDBCODES *****************************************************/
.web_float_left        { float: left; margin: 5px 15px 5px 0px;                                 }
.web_float_right       { float: right; margin: 5px 0px 5px 15px;                                }
.web_floater           { width: 250px; border: double #CACACA 3px; padding: 10px 10px 10px 10px ;
                        text-align: center; font-size: 0.78em;                                  }
.web_nsfw_blur         { filter: blur(20px);                                                    }
.web_nsfw_blur:hover   { filter: none;                                                          }
.web_nsfw_blur2        { filter: blur(10px);                                                    }
.web_nsfw_blur2:hover  { filter: none;                                                          }
.web_nsfw_blur3        { filter: blur(5px);                                                     }
.web_nsfw_blur3:hover  { filter: none;                                                          }
.web_gallery           { display: flex; flex-wrap: wrap                                         }
.web_gallery_image     { flex: 0 0 32%; border: 1px solid #CACACA; padding: 10px 10px 10px 10px ;
                       text-align: center; font-size: 0.9em; margin: 1px;                       }
.web_gallery_hr        { height: 1px; background: #CACACA; border: 0px                          ;
                        margin: 10px -10px 10px -10px;                                          }
.web_copypasta         { font-size: 1.2em; padding: 5px 14px;                                   }

/*********************************************** INTERNET ENCYCLOPEDIA ***********************************************/
.web_pages_search_field       { width: 300px;                     }
.web_pages_category_selector  { width: 250px; margin-bottom: 5px; }
.web_pages_era_selector       { width: 250px;                     }

.web_pages_edit             { height: 300px; }
.web_pages_edit_notes       { height: 200px; }
.web_pages_edit_note        { height: 100px; }
.web_pages_era_container    { width: 400px;  }
.web_pages_dates            { width: 110px;  }
.web_pages_dates_container  { width: 230px;  }

/************************************************ INTERNET DICTIONARY ************************************************/
.web_dict_nsfw    { margin-bottom: 3px;                                                             }
.web_dict_warning { padding-left: 15px; padding-top: 8px; align-items: center; text-align: justify; }

.web_dict_edit { height: 250px; }

/*************************************** INTERNET ENCYCLOPEDIA ADMINISTRATION ****************************************/
.web_image_upload  { font-size: 1.5em; color: #CACACA; border-radius: 2px; }
.web_image_preview { margin-top: -120px !important;                        }