/************************************************************** client.php ***************************************************************/
div.nbrpg_container       { height: 450px; overflow: auto; }
div.nbrpg_fullcontainer   { height: 483px; overflow: auto; }
div.nbrpg_preloader       { padding-top:200px;             }
input.nbrpg_searchcaverne { width: 450px; margin-top: 5px; }