/***************************************************************** RESET *****************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;                               }
body                                                                                    { line-height: 1; min-height:100vh;             }
ol, ul                                                                                  { list-style: none;                             }
blockquote, q                                                                           { quotes: none;                                 }
blockquote:before, blockquote:after, q:before, q:after                                  { content: ''; content: none;                   }
table                                                                                   { border-collapse: collapse; border-spacing: 0; }

/***************************************************************** HTML ******************************************************************/
html { background:#E9E9E9; height:100vh; }

/******************************************************** POLICES  PERSONNALISÉES ********************************************************/
@font-face { font-family: 'NoBleme'; src: url('./fonts/Roboto.woff'); src: url('./fonts/Roboto.woff2');                          }
@font-face { font-family: 'NoBleme-bold'; src: url('./fonts/Roboto-bold.woff'); src: url('./fonts/Roboto-bold.woff2');           }
@font-face { font-family: 'NoBleme-header'; src: url('./fonts/Open-sans.woff'); src: url('./fonts/Open-sans.woff2');             }
@font-face { font-family: 'NoBleme-header-2'; src: url('./fonts/Open-sans-bold.woff'); src: url('./fonts/Open-sans-bold.woff2'); }

/**************************************************************** COULEURS ***************************************************************/
.nobleme_background      { background: #E9E9E9; }
.nobleme_clair           { background: #7F9DB1; }
.nobleme_fonce           { background: #2F4456; }
.blanc                   { background: #FFFFFF; }
.noir                    { background: #000000; }
.mise_a_jour_background  { background: #F9E5E5; }
.sysop                   { background: #F78331; }
.mise_a_jour             { background: #D13030; }
.erreur                  { background: #FF0000; }
.vert_background_clair   { background: #DAEEAA; }
.vert_background         { background: #B3E28E; }

.texte_nobleme_clair     { color: #7F9DB1;      }
.texte_nobleme_fonce     { color: #2F4456;      }
.texte_blanc             { color: #FFFFFF;      }
.texte_noir              { color: #000000;      }
.texte_sysop             { color: #F78331;      }
.texte_mise_a_jour       { color: #D13030;      }
.texte_erreur            { color: #FF0000;      }
.texte_vert              { color: #2DC117;      }

/************************************************************* TAGS GÉNÉRAUX *************************************************************/
.align_center    { text-align: center;                    }
.align_left      { text-align: left;                      }
.align_right     { text-align: right;                     }
.valign_top      { vertical-align: top;                   }
.valign_middle   { vertical-align: middle;                }
.valign_bottom   { vertical-align: bottom;                }

.margin_auto     { margin: auto;                          }
.indiv           { width: 100%;                           }
.intable         { width: 100%;                           }
input.intable    { width: 98%;                            }
select.intable   { width: 98.7%;                          }
textarea.intable { width: 98%; margin: 0 0 0 0;           }

.gras            { font-family: 'NoBleme-bold';           }
.souligne        { text-decoration: underline;            }
.barre           { text-decoration: line-through;         }
.maigre          { font-size: 0.75em;                     }
.moinsgros       { font-size: 1.25em;                     }
.gros            { font-size: 1.5em;                      }
.plusgros        { font-size: 2.0em;                      }
.italique        { font-style: italic;                    }
.monospace       { font-family: monospace;                }
.pointeur        { cursor: pointer;                       }

.alinea          { padding-left: 15px;                    }

.spaced          { padding-left: 6px; padding-right: 6px; }
.vspaced         { padding-bottom: 6px; padding-top: 6px; }
.nowrap          { white-space: nowrap;                   }
.wrap            { white-space: pre-wrap;                 }

.hidden          { display: none;                         }
.discret         { border: 0px;                           }

/*********************************************************** TAGS SPÉCIFIQUES ************************************************************/
section      { padding-top: 5px;                                                        }

a.blank      { color: #000000; text-decoration: none;                                   }
a.nolink     { text-decoration: none;                                                   }
a.dark       { color: #2F4456;                                                          }
a.dark:hover { color: #7F9DB1;                                                          }

input:focus  { background: #E9E9E9;                                                     }

ul.dotlist   { list-style: disc; padding-left: 30px;                                    }
li.spaced    { margin-bottom: 2px; padding-left: 0px;                                   }

del          { background: #DB4141; text-decoration: none; font-family: 'NoBleme-bold'; }
ins          { background: #3CE052; text-decoration: none; font-family: 'NoBleme-bold'; }

hr.points    { border: 1px dashed #555555;                                              }

/********************************************************** SECTIONS DE CONTENU **********************************************************/
div.minisize  { width: 300px;                      }
div.smallsize { width: 600px;                      }
div.midsize   { width: 800px;                      }
div.bigsize   { width: 1000px;                     }

div.limited   { max-height: 300px; overflow: auto; }

.container    { display: flex; flex-wrap: nowrap;  }

/************************************************************ DIV : BODY MAIN ************************************************************/
div.body_main               { background: #FFFFFF; font-size: 13px; font-family: 'NoBleme'; line-height: 17px ;
                              margin: auto; margin-top: 20px; padding-left: 15px; padding-right: 15px         ;
                              padding-bottom: 20px; padding-top: 15px; border-radius: 5px;                    }
div.body_main > .titre      { font-size: 1.5em; font-family: 'NoBleme-bold'; padding-left: 15px;              }
div.body_main > .soustitre  { font-size: 1.20em; font-family: 'NoBleme-bold'; padding-left: 8px;              }
div.body_main > a           { color: #2F4456; text-decoration: none; font-family: 'NoBleme-bold';             }
div.body_main > a:hover     { color: #7F9DB1;                                                                 }

/********************************************************** TABLE : CADRE GRIS ***********************************************************/
table.cadre_gris           { border: 1px solid #9A9A9A ; margin-top: 6px ; margin-bottom: 3px                             ;
                             border-collapse: separate; border-spacing: 2px;                                              }
td.cadre_gris              { border: 1px solid #D8D8D8;                                                                   }
td.cadre_gris_titre        { color: #EEEEEE; font-family: 'NoBleme-bold'; background: #2F4456; border: 2px solid #2F4456  ;
                             padding-top:7px;  padding-bottom: 7px; text-align: center; font-family: 'NoBleme-bold';      }
td.cadre_gris_sous_titre   { color: #EEEEEE; font-family: 'NoBleme-bold'; background: #7F9DB1; border: 2px solid #7F9DB1  ;
                             text-align: center; font-family: 'NoBleme-bold';                                             }
td.cadre_gris_haut         { padding-top:7px;  padding-bottom: 7px;                                                       }
td.cadre_gris_vide         { border: none; background: #7F9DB1; height: 7px;                                              }
td.cadre_gris_vide_discret { border: none; background: #E9E9E9; height: 7px;                                              }

tbody.cadre_gris_altc  tr:nth-of-type(even) { background:#E9E9E9; }
tbody.cadre_gris_altc2 tr:nth-of-type(odd)  { background:#E9E9E9; }

/********************************************************** TABLE : DATA INPUT ***********************************************************/
table.data_input    { margin: auto; text-align: center;               }
td.data_input_left  { text-align: left; font-style: italic;           }
td.data_input_right { text-align: right; font-family: 'NoBleme-bold'; }

/************************************************************** INFO-BULLES **************************************************************/
.tooltip div       { display: none; padding-top: 5px; padding-bottom: 7px; padding-left: 10px; padding-right: 8px     ;
                     z-index: 1337; margin-top:-20px; margin-left:15px; font-size: 13px;                              }
.tooltip:hover div { display: inline; position: absolute; color: #000000;  text-align: left; background: #FFFFFF      ;
                     border-radius: 5px; border: 1px solid #7F9DB1; box-shadow: 6px 6px 6px #7F9DB1;                  }

.petittooltip { max-width: 200px; }
.grandtooltip { max-width: 400px; }

/*********************************************************** HEADER ET FOOTER ************************************************************/
.menu_main                              { display: flex; justify-content: space-between; background-color: #2F4456             ;
                                          padding-left: 10px; padding-top: 6px; padding-bottom: 6px                            ;
                                          font-family: 'NoBleme-header-2';                                                     }
.menu_main_section                      { display: flex; align-items: center;                                                  }
div.menu_main_item                      { padding-top: 3px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px       ;
                                          font-size: 16px; cursor: pointer; font-weight: bold;  white-space: nowrap;           }
div.menu_main_item:last-child           { margin-right: 10px; }
div.menu_main_item > a                  { color: #7F9DB1; text-decoration: none;                                               }
div.menu_main_item + div.menu_main_item { margin-left: 10px;                                                                   }
div.menu_main_item:hover                { background-color: #7F9DB1; border-radius: 4px;                                       }
div.menu_main_item:hover > a            { color: #2F4456; text-decoration: none;                                               }
div.menu_main_item_selected             { background-color: #7F9DB1; border-radius: 4px;                                       }
div.menu_main_item_selected > a         { color: #2F4456; text-decoration: none;                                               }
div.menu_main_item_selected:hover       { background-color: #2F4456;                                                           }
div.menu_main_item_selected:hover > a   { color: #7F9DB1; text-decoration: none;                                               }
div.menu_main_item_secrets              { background-color: #2F4456;                                                           }
div.menu_main_item_secrets > a          { color: #2F4456;                                                                      }

.menu_sub                               { display: flex; background-color: #7F9DB1; border-bottom: 1px solid #2F4456           ;
                                          font-family: 'NoBleme-header';                                                       }
div.menu_sub_item                       { cursor: pointer; border-bottom: 3px solid transparent;                               ;
                                          padding-top: 6px; padding-bottom: 3px; padding-left: 20px; padding-right: 20px;      ;
                                          white-space: nowrap; font-size: 14px;                                                }
div.menu_sub_item > a                   { font-weight: bold; color: #2F4456; text-decoration: none;                            }
div.menu_sub_item:hover                 { border-bottom-color: #2F4456;                                                        }
div.menu_sub_item:first-child           { margin-left: 9px;                                                                    }
div.menu_sub_item_selected              { border-bottom-color: #2F4456;                                                        }
div.menu_sub_item_selected:hover        { border-bottom-color: #000000;                                                        }

.menu_side                              { display: flex; flex-direction: column; width: 150px; font-family: 'NoBleme-header'   ;
                                          border-right: 1px solid #2F4456; border-bottom: 1px solid #2F4456                    ;
                                          min-height: 100%; font-weight: bold; background-color: #FFFFFF;                      }
div.menu_side_item                      { cursor: pointer;  font-size: 11px;  white-space: nowrap;                             ;
                                          padding-top: 5px; padding-bottom: 5px; padding-left: 8px; padding-right: 2px;        }
div.menu_side_item > a                  { color: #2F4456;text-decoration:none;                                                 }
div.menu_side_item:hover                { background-color: #7F9DB1;                                                           }
div.menu_side_item:hover > a            { color: #2F4456;                                                                      }
div.menu_side_item_selected             { background-color: #7F9DB1;                                                           }
div.menu_side_item_selected > a         { color: #2F4456;                                                                      }
div.menu_side_item_selected:hover       { background-color: #2F4456;                                                           }
div.menu_side_item_selected:hover > a   { color: #7F9DB1;                                                                      }
div.menu_side_item:first-child          { margin-top: 8px;                                                                     }
hr.menu_side_hr                         { width: 100%; padding: 0px; border: 0px; height: 1px; background: #2F4456;            }

a.nouveaux_messages                     { animation-name: blink-relou; animation-iteration-count: infinite;                    ;
                                          animation-duration: 1337ms;                                                          }
@keyframes blink-relou                  { from { color: #FF0000; } to { color: #7F9DB1; }                                      }
a.nouveaux_messages:hover               { animation-name: blink-relou-hover; animation-iteration-count: infinite;              ;
                                          animation-duration: 1337ms;                                                          }
@keyframes blink-relou-hover            { from { color: #FF0000; } to { color: #2F4456; }                                      }

.body_container                         { display: flex; height: 100%;                                                         }
.body_contenu                           { flex: 1; padding-left: 10px;                                                         }

div.footer                              { width: 100%; font-size: 14.00px; font-family: 'NoBleme-header'; color: #888888       ;
                                          text-align: center; padding-top: 10px; padding-bottom: 10px;                         }
a.footer_lien                           { color: #777777; text-decoration: none;                                               }
a.footer_lien:hover                     { text-decoration: underline;                                                          }

/**************************************************************** BBCODES ****************************************************************/
div.smallsize > img.bbcodeimg { max-width: 550px;                                                                             }
div.midsize > img.bbcodeimg   { max-width: 750px;                                                                             }
img.midsizeimg                { max-width: 750px;                                                                             }
img.bbcodeimg                 { max-width: 950px;                                                                             }

pre.flou                      { text-shadow: 0 0 10px #000000; color: rgba(255,255,255,0); transition: 2s text-shadow linear; }
pre.flou:hover                { text-shadow: none; color: #000000;                                                            }

div.citation_titre            { border-bottom: 1px solid #CCCCCC; margin-bottom: 3px; font-family: 'NoBleme-bold';            }
div.citation_corps            { padding: 3px; background-color: #FFFFFF; border: 1px solid #D6D6D6;                           }

div.spoiler_titre             { text-transform: uppercase; border-bottom: 1px solid #CCCCCC                                   ;
                                margin-bottom: 3px; font-size: 0.8em; font-family: 'NoBleme-bold';                            }
div.spoiler_corps             { padding: 3px; background-color: #FFFFFF; border: 1px solid #d8d8d8; font-size: 1.2em;         }