/*********************************************************************************************************************/
/*                   The standard style of all basic elements is determined in the reset.css file                    */
/*                            This has all been handcrafted with love, the oldschool way                             */
/*          I could minify this, but I feel there is beauty in well indented code and want it to be visible          */
/*        I like to call NoBleme's theme "retrofutirist anarcho-immaterial design". Purposefully pretentious.        */
/****************************************************** COLORS *******************************************************/
.dark   { background-color: #121212; } .text_dark   { color: #121212; }
.black  { background-color: #000000; } .text_black  { color: #000000; }
.white  { background-color: #FFFFFF; } .text_white  { color: #FFFFFF; }
.light  { background-color: #CACACA; } .text_light  { color: #CACACA; }
.yellow { background-color: #C8B900; } .text_yellow { color: #C8B900; }
.orange { background-color: #C66900; } .text_orange { color: #C66900; }
.red    { background-color: #B00B1E; } .text_red    { color: #B00B1E; }
.purple { background-color: #673AB7; } .text_purple { color: #673AB7; }
.blue   { background-color: #0069C0; } .text_blue   { color: #0069C0; }
.brown  { background-color: #795548; } .text_brown  { color: #795548; }
.green  { background-color: #087F23; } .text_green  { color: #087F23; }

/************************************************** GENERIC CLASSES **************************************************/
.hidden  { display: none;   }
@media (min-width: 1025px) {
.mobile  { display: none; } }
@media (max-width: 1024px) {
.desktop { display: none; } }

.margin_auto     { margin: auto;                     }
@media (min-width: 1025px) {
.width_30        { margin: auto; max-width: 30em;    }
.width_40        { margin: auto; max-width: 40em;    }
.width_50        { margin: auto; max-width: 50em;    }
.width_60        { margin: auto; max-width: 60em;    }
.width_70        { margin: auto; max-width: 70em;    }
.width_80        { margin: auto; max-width: 80em;  } }
@media (max-width: 1024px) {
.width_30        { margin: auto; max-width: 30em;    }
.width_40        { margin: auto; max-width: 35em;    }
.width_50        { margin: auto; max-width: 40em;    }
.width_60        { margin: auto; max-width: 45em;    }
.width_70        { margin: auto; max-width: 50em;    }
.width_80        { margin: auto; max-width: 55em;  } }

.align_justify   { text-align: justify;            }
.align_center    { text-align: center;             }
.align_left      { text-align: left;               }
.align_right     { text-align: right;              }
.valign_top      { vertical-align: top;            }
.valign_middle   { vertical-align: middle;         }
.valign_bottom   { vertical-align: bottom;         }
.valign_table    { display: block; margin: 0 auto; }

.bold            { font-weight: bold; letter-spacing: 0.05rem; }
.notbold         { font-weight: normal;                        }
.italics         { font-style: italic;                         }
.underlined      { text-decoration: underline;                 }
.strikethrough   { text-decoration: line-through;              }
.small           { font-size: 0.75em;                          }
.big             { font-size: 1.25em;                          }
.bigger          { font-size: 1.5em;                           }
.biggest         { font-size: 2.0em;                           }
.monospace       { font-family: monospace;                     }
.blur            { text-shadow: 0 0 10px #CACACA               ;
                   color: rgba(255,255,255,0)                  ;
                   transition: 2s text-shadow linear;          }
.blur:hover      { text-shadow: none; color: #CACACA           ;
                   transition: 2s text-shadow linear;          }
.smallglow       { filter: drop-shadow(0 0 3px #B00B1E);       }
.glow            { filter: drop-shadow(0 0 5px #B00B1E);       }
.glowhover:hover { filter: drop-shadow(0 0 5px #B00B1E);       }
.bigglow         { filter: drop-shadow(0 0 10px #B00B1E);      }
.noglow          { filter: none;                               }
.pointer         { cursor: pointer;                            }

.indiv, .intable { width: 100%;                                 }
.indented        { padding-left: 2.0rem;                        }
.spaced          { padding-left: 0.5rem; padding-right: 0.5rem; }
.spaced_left     { padding-left: 0.5rem;                        }
.spaced_right    { padding-right: 0.5rem;                       }
.nospaced        { padding-left: 0; padding-right: 0;           }
.tinypadding_top { padding-top: 1.0rem;                         }
.smallpadding_top{ padding-top: 1.5rem;                         }
.padding_top     { padding-top: 2.5rem;                         }
.bigpadding_top  { padding-top: 5.0rem;                         }
.hugepadding_top { padding-top: 10.0rem;                        }
.megapadding_top { padding-top: 15.0rem;                        }
.gigapadding_top { padding-top: 20.0rem;                        }
.tinypadding_bot { padding-bottom: 1.0rem;                      }
.smallpadding_bot{ padding-bottom: 1.5rem;                      }
.padding_bot     { padding-bottom: 2.5rem;                      }
.bigpadding_bot  { padding-bottom: 5.0rem;                      }
.hugepadding_bot { padding-bottom: 10.0rem;                     }
.megapadding_bot { padding-bottom: 15.0rem;                     }
.gigapadding_bot { padding-bottom: 20.0rem;                     }
.nopadding       { padding-top: 0; padding-bottom: 0;           }

.flexcontainer   { display: -webkit-flex; display: flex;      }
.flex            { flex: 1;                                   }
.clearfix:after  { clear: both; content: ' '; display: table; }
.float_left      { float: left; margin-right: 0.5em;          }
.float_right     { float: right; margin-left: 0.5em;          }
.nowrap          { white-space: nowrap;                       }
.dowrap          { white-space: normal;                       }
.scrollbar       { overflow-x: scroll;                        }
.vscrollbar      { overflow-y: scroll;                        }

/************************************************* SPECIFIC CLASSES **************************************************/
table.noresize                       { table-layout: fixed;                                        }
tbody.altc tr:nth-child(odd)         { background-color: #282828;                                  }
tbody.altc tr:nth-child(odd):hover   { background-color: #121212;                                  }
tbody.altc tr                        { border-top: 0px;                                            }

label.label_inline { display: inline-block; font-weight: normal; margin-left: .2rem; }

select.table_search, input.table_search { height: auto; padding: 0.2rem; font-weight: normal; width: 100%          ;
                                          text-align: center; background-color: #343434;                           }
input.table_search[type='submit']       { font-size: 1.6rem; letter-spacing: 0.1rem ;                              }
select.table_search:hover, input.table_search:hover, input.table_search[type='text']:hover:not([disabled]):not(:focus)
                                        { background-color: #454545;                                               }
select.intext, input.intext             { background-color: #121212; border: 2px solid #232323                     ;
                                          color: #CACACA; padding: 0.2rem;                                         }
input.intext                            { width: 150px;                                                            }
select.intext:hover, input.intext:hover, input.intext[type='text']:hover:not([disabled]):not(:focus),
input.intext:focus, select.intext:focus { border-color: #CACACA; background-color: #232323; border-color: #555555; }
select.inh, input.inh                   { background-color: #121212; border: 2px solid #232323                     ;
                                          color: #B00B1E; font-weight: bold; padding: 0.2rem; width: 250px;        }
select.inh:hover, input.inh:hover, input.inh[type='text']:hover:not([disabled]):not(:focus),
input.inh:focus, select.inh:focus       { border-color: #CACACA; background-color: #121212; border-color: #555555; }

blockquote.nobackground { background-color: #121212; }

button.bigbutton, input[type='reset'].bigbutton, input[type='submit'].bigbutton
{ border-radius: 0.6rem; font-size: 2.5rem; letter-spacing: 0.15rem; padding: 0.8rem 1.6rem; }

pre.xdebug-var-dump { background-color: #000000; color: #CACACA; border-left: 0; font-size: 0.8em ;
                       max-height: 400px; overflow: scroll; white-space: pre-wrap;                }

/****************************************************** BBCODES ******************************************************/
.bbcode_quote_title   { border-bottom: 1px solid #343434; margin-bottom: 3px; font-weight: bold; }
.bbcode_quote_body    { padding: 0.25em; background-color: #121212; border: 1px solid #343434;   }
.bbcode_spoiler_title { text-transform: uppercase; border-bottom: 1px solid #343434              ;
                        margin-bottom: 3px; font-weight: bold;                                   }
.bbcode_spoiler_body  { padding: 0.25em; background-color: #121212; border: 1px solid #343434;   }

/***************************************************** TOOLTIPS ******************************************************/
.tooltip_container                { cursor: pointer;                                                                 }
.tooltip_container .tooltip       { display: none; padding: 0.5em; z-index: 1337; margin-top: -20px; cursor: normal; }
.tooltip_container:hover .tooltip { display: inline; position: absolute; color: #FFFFFF; text-align: left            ;
                                    background-color: #232323 ; border-radius: 5px; border: 1px solid #888888        ;
                                    box-shadow: 2px 2px 2px #888888; max-width: 500px; max-height: 250px             ;
                                    overflow-y: auto;                                                                }