/*********************************************************** Système d'onglets ***********************************************************/
ul.onglet               { overflow: hidden; border: 1px solid #CACACA; background-color: #E9E9E9;           }
ul.onglet li            { float: left;                                                                      }
ul.onglet li a          { display: inline-block; text-align: center; transition: 0.69s; font-size: 17px     ;
                          padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px; }
ul.onglet li a:hover    { background-color: #DADADA;                                                        }
.onglet_actif           { background-color: #CACACA;                                                        }
.contenu_onglet         { display: none; border: 1px solid #CACACA; border-top: none                        ;
                          padding-top: 0px; padding-left: 5px; padding-right: 11px; padding-bottom: 5px;    }
.contenu_onglet         { animation: clicOnglet 1.5s;                                                       }
@keyframes clicOnglet   { from { opacity: 0; } to { opacity: 1; }                                           }
a.onglet_blink          { animation-name: blink-onglet; animation-iteration-count: infinite                 ;
                          animation-duration: 2000ms;                                                       }
@keyframes blink-onglet { from { color: #FF0000; } to { color: #000000; }                                   }
a.onglet_blink:hover    { animation-name: blink-onglet; animation-iteration-count: infinite                 ;
                          animation-duration: 2000ms;                                                       }