/*********************************************************************************************************************/
/*              This file resets the style of all elements so that they look the same in every browser,              */
/*                       and also decides the baseline theme of the standard/common elements.                        */
/*                           More specific styles for elements are in the nobleme.css file                           */
/*                            This has all been handcrafted with love, the oldschool way                             */
/*          I could minify this, but I feel there is beauty in well indented code and want it to be visible          */
/*        I like to call NoBleme's theme "retrofutirist anarcho-immaterial design". Purposefully pretentious.        */
/*********************************************************************************************************************/
a, blockquote, body, button, canvas, code, del, div, dd, dl, dt, em, embed, fieldset, footer, form, h1, h2, h3, h4, h5,
h6, header, html, iframe, img, ins, input, label, li, menu, nav, object, ol, p, pre, s, select, span, table, tbody,
td, tfoot, th, thead, time, tr, ul, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }
/*************************************************** CUSTOM FONTS ****************************************************/
@font-face { font-family: 'NoBleme'                                         ;
  src:  url('./fonts/Roboto.eot?#iefix') format('embedded-opentype')        ,
        url('./fonts/Roboto.woff2') format('woff2')                         ,
        url('./fonts/Roboto.woff') format('woff')                           ,
        url('./fonts/Roboto.ttf')  format('truetype')                       ,
        url('./fonts/Roboto.svg#svgFontName') format('svg');                }
@font-face { font-family: 'NoBleme-bold'                                    ;
  src:  url('./fonts/Roboto-bold.eot?#iefix') format('embedded-opentype')   ,
        url('./fonts/Roboto-bold.woff2') format('woff2')                    ,
        url('./fonts/Roboto-bold.woff') format('woff')                      ,
        url('./fonts/Roboto-bold.ttf')  format('truetype')                  ,
        url('./fonts/Roboto-bold.svg#svgFontName') format('svg');           }
@font-face { font-family: 'NoBleme-header'                                  ;
  src:  url('./fonts/Open-sans-bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Open-sans-bold.woff2') format('woff2')                 ,
        url('./fonts/Open-sans-bold.woff') format('woff')                   ,
        url('./fonts/Open-sans-bold.ttf')  format('truetype')               ,
        url('./fonts/Open-sans-bold.svg#svgFontName') format('svg');        }
@font-face { font-family: 'NoBleme-submenu'                                 ;
  src:  url('./fonts/Open-sans.eot?#iefix') format('embedded-opentype')     ,
        url('./fonts/Open-sans.woff2') format('woff2')                      ,
        url('./fonts/Open-sans.woff') format('woff')                        ,
        url('./fonts/Open-sans.ttf')  format('truetype')                    ,
        url('./fonts/Open-sans.svg#svgFontName') format('svg');             }
/******************************* DEFAULT STYLES OF GENERIC TAGS FOR THE WHOLE WEBSITE ********************************/
*, *:after, *:before    { box-sizing: inherit;                                                                        }
html                    { box-sizing: border-box; font-size: 62.5%;                                                   }
body                    { color: #FFFFFF; background-color: #121212; min-height: 100vh;                               ;
                          font-family: 'NoBleme', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif                  ;
                          font-size: 1.6rem; font-weight: 300; letter-spacing: 0.01rem; line-height: 1.45;            }
p                       { padding-top: 2.5rem; text-align: justify;                                                   }
h1, h2, h3, h4, h5, h6  { font-weight: 300; letter-spacing: -0.1rem; color: #B00B1E                                   ;
                          font-family: 'NoBleme-header', 'Helvetica', 'Arial';                                        }
h1                      { font-size: 5.0rem;                                                                          }
h2                      { font-size: 4.2rem;                                                                          }
h3                      { font-size: 3.6rem;                                                                          }
h4                      { font-size: 3.0rem;                                                                          }
h5                      { font-size: 2.4rem;                                                                          }
h6                      { font-size: 1.5rem;                                                                          }
@media (max-width: 1024px) { body { font-size: 2.5em;                                                                 }
h1                      { font-size: 7.0rem;                                                                          }
h2                      { font-size: 6.0rem;                                                                          }
h3                      { font-size: 5.0rem;                                                                          }
h4                      { font-size: 4.0rem;                                                                          }
h5                      { font-size: 3.5rem;                                                                          }
h6                      { font-size: 3.0rem;                                                                        } }
a                       { color: #CACACA; text-decoration: none; filter: drop-shadow(0 0 3px #B00B1E);                }
a:focus, a:hover        { color: #B00B1E;                                                                             }
label, legend           { display: block; font-weight: bold; margin-bottom: 0.5rem; margin-left: 2.0px                ;
                          letter-spacing: 0.05rem;                                                                    }
img                     { max-width: 100%;                                                                            }
table                   { border-collapse: collapse; border-spacing: 0; border-style: hidden;                         ;
                          width: 100%; border-radius: 0.7rem; background-color: #212121;                              }
tbody > tr              { border-top: 1px solid #121212;                                                              }
tbody > tr:hover        { background-color: #121212;                                                                  }
td, th                  { padding: 6px 8px 6px 8px;                                                                   }
th                      { text-align: center; font-weight: bold; white-space: nowrap;                                 }
hr                      { height: 1px; background-color: #B00B1E; border: 0px;                                        }
ul                      { list-style: circle inside;                                                                  }
li                      { margin-bottom: 0.1rem;                                                                      }
del                     { background-color: #D32F2F; text-decoration: none; font-weight: bold; color: #121212         ;
                          padding: 0em 0.25em;                                                                        }
ins                     { background-color: #388E3C; text-decoration: none; font-weight: bold; color: #121212         ;
                          padding: 0em 0.25em;                                                                        }
blockquote              { quotes: none; background-color: #232323; border-left: 0.3rem solid #B00B1E                  ;
                          padding: 1rem 1.5rem;                                                                       }
pre                     { background-color: #232323; border-left: 0.3rem solid #B00B1E; overflow-x: auto              ;
                          padding: 1rem 1.5rem; font-family: monospace;                                               }
textarea                { min-height: 12.0rem; width: 100%; background-color: #232323; color: #CACACA                 ;
                          border-radius: 5px; padding: 0.6rem 1.0rem; box-sizing: inherit; box-shadow: none;          }
input, select, button   { font-family: 'NoBleme', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif                  ;
                          color: #CACACA; background-color: #212121; box-sizing: inherit; box-shadow: none            ;
                          border: 1px solid #212121; border-radius: 0.4rem; padding: 0.3rem 0.7rem;                   }
select                  { text-align: center;                                                                         }
button, input[type='reset'], input[type='submit'] { font-size: 2.0rem; font-weight: bold; letter-spacing: 0.12rem     ;
                          padding: 0.5rem 1.6rem; text-align: center; text-decoration: none                           ;
                          text-transform: uppercase; white-space: nowrap;                                             }
button:not([disabled]), input[type='reset']:not([disabled]), input[type='submit']:not([disabled]) { cursor: pointer;  }
input[type='checkbox'], input[type='radio'] { display: inline;                                                        }
input[disabled], button[disabled] { background-color: #181818; opacity: 0.4;                                          }
select:hover, input[type='text']:hover:not([disabled]):not(:focus)                                                    ,
input[type='password']:hover:not([disabled]):not(:focus), input[type='reset']:hover:not([disabled]):not(:focus)       ,
input[type='submit']:hover:not([disabled]):not(:focus), button:hover:not([disabled]):not(:focus)                      {
                          border-color: #CACACA; background-color: #323232;                                           }
input[type='text']:focus, input[type='password']:focus, input[type='reset']:focus, input[type='submit']:focus         ,
button:focus, select:focus { border-color: #888888; background-color: #323232;                                        }
input:not([type])       { background-color: #121212;                                                                  }