/**************************************************************** irl.php ****************************************************************/
td.confirme { width:80px; }

      input.irldate { width:70px;  }
      input.irllieu { width:300px; }
textarea.irldetails { width:700px; }