/**************************************************** VARIABLES ******************************************************/

:root { --nobleme-task-0: #FFECEC  ;
        --nobleme-task-1: #FFCACA  ;
        --nobleme-task-2: #FFA8A8  ;
        --nobleme-task-3: #FF8686  ;
        --nobleme-task-4: #FF6464  ;
        --nobleme-task-5: #FF4242  ;
        --nobleme-task-6: #FF2121  ;
        --nobleme-task-x: #599B49; }

/**************************************************** TO-DO LIST *****************************************************/

.task_status_0        { background: var(--nobleme-task-0);  }
.task_status_1        { background: var(--nobleme-task-1);  }
.task_status_2        { background: var(--nobleme-task-2);  }
.task_status_3        { background: var(--nobleme-task-3);  }
.task_status_4        { background: var(--nobleme-task-4);  }
.task_status_5        { background: var(--nobleme-task-5);  }
.task_status_6        { background: var(--nobleme-task-6);  }
.task_solved          { background: var(--nobleme-task-x);  }
@media (min-width: 993px)                                   {
.tasks_admin_selector { max-width: 4.5rem;                } }

/**************************************************** EDIT TASKS *****************************************************/

.tasks_edit_category      { flex: 5;              }
.tasks_edit_category_icon { margin-top: 1.85rem;  }
@media (max-width: 992px)                         {
.tasks_edit_category      { flex: 3;            } }