/**************************************************** TO-DO LIST *****************************************************/
.task_status_0 { background:#FFECEC; }
.task_status_1 { background:#FFCACA; }
.task_status_2 { background:#FFA8A8; }
.task_status_3 { background:#FF8686; }
.task_status_4 { background:#FF6464; }
.task_status_5 { background:#FF4242; }
.task_solved   { background:#599B49; }