/*********************************************************** LISTE DES TÂCHES ************************************************************/
.todo_importance_0 { background:#FFECEC; }
.todo_importance_1 { background:#FFCACA; }
.todo_importance_2 { background:#FFA8A8; }
.todo_importance_3 { background:#FF8686; }
.todo_importance_4 { background:#FF6464; }
.todo_importance_5 { background:#FF4242; }
.todo_resolu       { background:#599B49; }