Options +FollowSymlinks -MultiViews
RewriteEngine On

# Redirect subdomains to the main domain name (but not for dev environment)
RewriteCond %{HTTP_HOST} ^(.+)\.nobleme.com [nc]
RewriteRule ^(.*)$ http://nobleme.com/$1 [R=301,L]

# Enforce https (but not for dev environment)
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} nobleme.com
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

# Better looking URLs (not strictly enforced though)
RewriteRule ^pages/meetups/([0-9]+)$ pages/meetups/meetup.php?id=$1 [NC]
RewriteRule ^pages/quotes/([0-9]+)$ pages/quotes/list.php?id=$1 [NC]
RewriteRule ^pages/quotes/random pages/quotes/list.php?random [NC]
RewriteRule ^pages/tasks/([0-9]+)$ pages/tasks/task.php?id=$1 [NC]
RewriteRule ^pages/users/([0-9]+)$ pages/users/profile.php?id=$1 [NC]

# Better looking compendium URLs (not strictly enforced)
RewriteCond %{THE_REQUEST} !/index [NC]
RewriteCond %{THE_REQUEST} !/mission_statement [NC]
RewriteCond %{THE_REQUEST} !/page_list [NC]
RewriteRule ^pages/compendium/(.*)$ pages/compendium/page.php?page=$1 [QSA,NC]

# Actively get rid of .php extension
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
RewriteRule ^ /%1 [NE,L,R]

# Apply .php to files without a extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC]

# Custom 404 page
ErrorDocument 404 http://nobleme.com/404

# Don't allow direct access to ircbot.txt
<Files "ircbot.txt">
  Deny from all
</Files>

# Don't allow direct access to sqldump
<Files "sqldump_schema.sql">
  Deny from all
</Files>