Options +FollowSymlinks -MultiViews
RewriteEngine On

# Rediriger les sous-domaines
RewriteCond %{HTTP_HOST} ^(.+)\.nobleme.com [nc]
RewriteRule ^(.*)$ http://nobleme.com/$1 [R=301,L]

# Forcer le https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} nobleme.com
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

# Retirer le .php à la fin des urls
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC]

# Fichier de 404 personnalisé
ErrorDocument 404 http://nobleme.com/pages/nobleme/404

# Empêcher l'accès au .txt du bot
<Files "ircbot.txt">
  Deny from all
  Allow from 127.0.0.1
</Files>